<title>Sample API</title>
<div style="text-align:center;padding:10% 20%">
    <img src="~/Images/opeqeLogo.png" style="width:200px"/>
    <p style="font-weight:bold;font-size:30px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Opeqe Sample API</p>
</div>
<style>
    body {
        background-color: #000;
        color:#fff
    }
</style>